# Visual Studio / .NET Build Output
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/
publish/
release/
GITIGNORE

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.docstates

# Visual Studio Code & Visual Studio
.vscode/
.vs/

# JetBrains Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log

# Zip archives (except Assets/zapret.zip)
*.zip
!Assets/zapret.zip
